{% extends 'user/base.html' %}
{% load static %}
{% block link %}
{% comment %} <link rel="stylesheet" href="{% static 'css/userprofile.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/login/user.css' %}">
{% endblock  %}
{% block condent %}

<div class="container mt-5">
    <div class="row ">
        <div class="col-lg-4 pb-5 mt-5 mx-auto">
            <!-- Account Sidebar-->
            <div class="author-card pb-3">
                <div class="author-card-cover" style="background-image: url( https://imgs.search.brave.com/tJcQvzE5eI0R6bv-9EZo8f5R3O44vnIcFGTRWlyi2fc/rs:fit:1090:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5o/SnE2QzZ1cGlXb1Yt/SUxNcWRJb2pnSGFE/TyZwaWQ9QXBp);"></div>
                <div class="author-card-profile">
                    <div class="author-card-avatar">
                        {% if user.profile.image %}
                        <img  src="{{ user.profile.image.url }}"alt="{{ user.username }} profile picture">
                        {% else %}
                        <img src="http://tcap.pbworks.com/f/1435170280/myAvatar.png" alt="{{ user.username }} profile picture">
                        {% endif %}
                    </div>
                    <div class="author-card-details">
                        <h5 class="author-card-name text-lg">{{user.username}}</h5><span class="author-card-position">{{user.date_joined.date}}</span>
                    </div>
                </div>
            </div>
            <div class="wizard">
                <nav class="list-group list-group-flush">
                    <a class="list-group-item" href="{% url 'user_update' %}">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fe-icon-shopping-bag mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">Profile Settings</div>
                            </div>
                        </div>
                    </a><a class="list-group-item" href="{% url 'changepassword' %}"><i class="fe-icon-user text-muted"></i>Change Password </a><a class="list-group-item active" href="#"><i class="fe-icon-map-pin text-muted"></i>Addresses</a>
                    <a class="list-group-item" href="" target="__blank">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fe-icon-heart mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">My Wishlist</div>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item" href="" target="__blank">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fe-icon-tag mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">My Tickets</div>
                            </div>
                        </div>
                    </a>


                    <a class="list-group-item" href="" target="__blank">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fe-icon-tag mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">{{user.profile.address}}</div>
                            </div>
                        </div>
                    </a>
                    
                    
                    <a class="list-group-item mfp-bg" href="{% url 'logout' %}" target="__blank">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fe-icon-tag mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">logout</div>
                            </div>
                        </div>
                    </a>
                </nav>
            </div>
        </div>
        <!-- Profile Settings-->
        <div class="col-lg-8 pb-5 mt-5">
            <form class="row" method="POST" action="">
                {% csrf_token %}
            <div class="col-md-6">
                <div class="form-group">
                    <label for="account-fn">First Name</label>
                    <input type="text" class="form-control" id="first"  name="firstname" placeholder="First Name"required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="account-ln">Last Name</label>
                    <input type="text" class="form-control" id="last"  name="lastname" placeholder="Last Name" required/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="account-email">Phone number</label>
                    <input type="text" class="form-control" id="phone"  name="phone"  placeholder="Phone Number"required  pattern="[0-9]+" title="Please enter only digits" maxlength="10"/>
                </div>
            </div> 
            <div class="col-md-6">
                <div class="form-group">
                    <label for="account-fn">Email</label>
                    <input type="email" class="form-control" id="email"  name="email"placeholder="Email" required/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="account-email">Address</label>
                    <input type="text" class="form-control" id="add1"  name="address_line_1" placeholder="Address"required/>
                </div>
            </div>   
            <div class="col-md-6">
                <div class="form-group">
                    <label for="account-email">landmark</label>
                    <input type="text" class="form-control" id="add1"  name="address_line_2" placeholder="Landmark"required/>
                </div>
            </div>  
            <div class="col-md-6">
                <div class="form-group">
                    <label>City</label><br>
                                    <select class="form-select" id="id_city" name="city" required><br>
                                        <option value="">Select city</option>
                                        {% for city in city %}
                                            
                                                <option value="{{ city }}">{{ city }}</option>
                                            
                                        {% endfor %}
                                    </select><br>
                </div>
            </div>  
            <div class="col-md-6">
                <div class="form-group">
                    <label>State</label><br>
                                    <select class="form-select" id="id_state" name="state" required><br>
                                        <option value="">Select State</option>
                                        {% for state in state %}
                
                                                <option value="{{ state }}">{{ state }}</option>
            
                                        {% endfor %}
                                    </select><br>
                </div>
            </div>  
            <div class="col-md-6">
                <div class="form-group">
                    <label for="account-email">Pincode</label>
                    <input type="text" class="form-control" id="pincode" name="pincode"  placeholder="Pincode" required pattern="[0-9]+" title="Please enter only digits" maxlength="6"/>
                </div>
            </div> 
            <div class="col-sm-6">
                <div class="form-group mt-4">
              
                        <input type="checkbox" name="default" > Set as default address
                </div>
            </div>    
            <div class="col-12">
                <hr class="mt-2 mb-3">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                    <div class="custom-control custom-checkbox d-block">
                        
                    </div>
                    <button class="btn btn-style-1 btn-primary" type="submit" data-toast="" data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="Success!" data-toast-message="Your profile updated successfuly.">Add Adress</button>
                </div>
            </div>
            </form>
        </div>
        
    </div>
</div>
{% endblock  %}