{% extends 'user/base.html' %}
{% block title %}
{% load static %}
Kaira.com
{% endblock %}
{% block condent %}
<!-- ##### Welcome Area Start ##### -->
<section class="welcome_area bg-img background-overlay" style="background-image: url(https://us.benetton.com/on/demandware.static/-/Library-Sites-BenettonSharedLibrary/default/dwafa58d4b/01-REDESIGN/LANDER/MEN-lander-flea.jpg)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content">
                    <h2>New Collection</h2>
                    <a href="#" class="btn essence-btn">view collection</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Welcome Area End ##### -->

<!-- ##### Top Catagory Area Start ##### -->    
<div class="top_catagory_area section-padding-80 clearfix">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(https://image-cdn.hypb.st/https%3A%2F%2Fhbx.hypebeast.com%2Ffiles%2F2022%2F12%2Fhuman_made_unisex_category_clothing.jpg?q=95);">
                    <div class="catagory-content">
                        <a href="#">Clothing</a>
                    </div>
                </div>
            </div>
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(https://www.prada.com/content/dam/pradabkg_products/4/4E3/4E3595/3LMPF0491/4E3595_3LMP_F0491_SLR.jpg/jcr:content/renditions/cq5dam.web.hebebed.1000.1000.crop.jpg);">
                    <div class="catagory-content">
                        <a href="#">Shoes</a>
                    </div>
                </div>
            </div>
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(https://image-cdn.hypb.st/https%3A%2F%2Fhbx.hypebeast.com%2Ffiles%2F2022%2F12%2Fchloe-unisex-banner-category-bags.jpg?q=95);">
                    <div class="catagory-content">
                        <a href="#">Accessories</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Top Catagory Area End ##### -->

<!-- ##### CTA Area Start ##### -->
<div class="cta-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-content bg-img background-overlay" style="background-image: url({% static 'img/bg-img/sale poster.jpg' %});">
                    <div class="h-100 d-flex align-items-center justify-content-end">
                        <div class="cta--text">
                            <h2>Global Sale</h2>
                            <a href="#" class="btn essence-btn">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### CTA Area End ##### -->

<!-- ##### New Arrivals Area Start ##### -->
<section class="new_arrivals_area section-padding-80 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Popular Products</h2>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="popular-products-slides owl-carousel">
                    {% for product in products_with_variants %}
                    {% for product_varient in product.productvarient_set.all %}
                    <!-- Single Product -->
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <a href="{% url 'singleproduct' product_varient.id %}">

                                <img src="{{product_varient.productimage_set.first.images.url}}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" src="{{product_varient.productimage_set.first.hover_images.url}}" alt="">
                            </a>
                                
                            <!-- Product Badge -->
                            {% if product_varient.offer != 0 %}
                            <div class="product-badge offer-badge">
                                <span>-{{product_varient.offer}}%</span>
                            </div>
                            {% endif %}
                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <span>mango</span>
                            <a href="single-product-details.html">
                                <h6>{{ product_varient.name }}</h6>
                            </a>
                            <p class="product-price"><span class="old-price">${{ product_varient.price }}</span>  ${{ product_varient.calculated_price|floatformat:"-2" }}</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### New Arrivals Area End ##### -->

<!-- ##### Brands Area Start ##### -->
<div class="brands-area d-flex align-items-center justify-content-between">
    <!-- Brand Logo -->
    <div class="single-brands-logo">
        <img src="https://imgs.search.brave.com/Jy_0LUwkoiZgIPW6sJVJ2h67SAFde7GNG-AEMBQt66c/rs:fit:1080:1104:1/g:ce/aHR0cHM6Ly92ZWN0/b3JpZmllZC5jb20v/aW1hZ2UvdmVyc2Fj/ZS1sb2dvLXZlY3Rv/ci0xMC5qcGc" alt="">
    </div>
    <!-- Brand Logo -->
    <div class="single-brands-logo">
        <img src="https://imgs.search.brave.com/Z_pR06Gg2-tQJcsB62XIgHqNYvd7I1nZ-GDFR8Ossc0/rs:fit:3077:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5a/VTVWOTM2ZTdiWTRZ/NGdpLXVhZV9nSGFC/SiZwaWQ9QXBp" alt="">
    </div>
    <!-- Brand Logo -->
    <div class="single-brands-logo">
        <img src="https://imgs.search.brave.com/uHLjleGX9yLvoBpzTyVUd1YsH9LjHmJXrw4oiS5GllU/rs:fit:826:960:1/g:ce/aHR0cHM6Ly9jZG4x/NDAucGljc2FydC5j/b20vMjU4NTExODQ0/MDI3MjEyLnBuZw" alt="">
    </div>
    <!-- Brand Logo -->
    <div class="single-brands-logo">
        <img src="https://imgs.search.brave.com/HntDovmHOQu79pdkVydqHkMh0z6nkFzchiZC2yP19Mg/rs:fit:700:112:1/g:ce/aHR0cHM6Ly9sb2dv/cy1kb3dubG9hZC5j/b20vd3AtY29udGVu/dC91cGxvYWRzLzIw/MTcvMDUvWmFyYV9M/b2dvX3BuZ190cmFu/c3BhcmVudC03MDB4/MTEyLnBuZw" alt="">
    </div>
    <!-- Brand Logo -->
    <div class="single-brands-logo">
        <img src="https://imgs.search.brave.com/c1xWfgJ2guZJRg95uWyS__6IVQnL5qV7aUtWnDjFdVk/rs:fit:1024:576:1/g:ce/aHR0cHM6Ly93d3cu/b21lcm9hYmJpZ2xp/YW1lbnRvLmNvbS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAxOS8w/Ni9UaGUtTm9ydGgt/RmFjZS1sb2dvLTEw/MjR4NTc2LnBuZw" alt="">
    </div>
    <!-- Brand Logo -->
    <div class="single-brands-logo">
        <img src="https://imgs.search.brave.com/LwhlZOxiUnfKKjVeiFYV36nC8BlxRuugVJOq8kY0o88/rs:fit:300:150:1/g:ce/aHR0cDovL3d3dy50/cm9pc3BvbW1lcy5j/aC93cC1jb250ZW50/L3VwbG9hZHMvYnJh/bmQtbG9nby1zYWNh/aV9uZXUtMzAweDE1/MC5wbmc" alt="">
    </div>
</div>
<!-- ##### Brands Area End ##### -->

{% endblock %}