{% extends 'user/login.html' %}
{% block formlogin %}
	<div class="section text-center">
    <h4 class="mb-4 pb-3">Reset Password otp</h4>
	<form action="" method="POST">
		{% csrf_token %}
        <div class="form-group">
			<input type="text" name="otp" class="form-style" placeholder="Enter otp" id="logemail" autocomplete="off">
			<i class="input-icon uil uil-at"></i>
		</div>
        <div class="form-group">
			<input type="text" name="password" class="form-style" placeholder="Your New Password" id="logemail" autocomplete="off">
			<i class="input-icon uil uil-at"></i>
		</div>
        <div class="form-group">
			<input type="text" name="confirm_password" class="form-style" placeholder="Your Conform Password" id="logemail" autocomplete="off">
			<i class="input-icon uil uil-at"></i>
		</div>
		<button type="submit" class="btn mt-4">Verify OTP</button>
		</div>
		</form>
{% endblock formlogin %}