{% extends 'user/base.html' %} {% load my_tags %} {% block title %} shop {% endblock %}
{% load static %}
{% block condent %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/drawer.css' %}">
{% endblock  %}



<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">
        <div class="shop_sidebar_area">
          <!-- ##### Single Widget ##### -->
          <div class="widget catagory mb-50">
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">Catagories</h6>

            <!--  Catagories  -->
            <div class="catagories-menu">
              <ul id="menu-content2" class="menu-content collapse show">
                <!-- Single Item -->
                {% for i in category %}
                <li
                  data-toggle="collapse"
                  data-target="{{i.name}}"
                  class="text-dark"
                >
                  <a href="{% url 'sort' i.id 0  %}" style="color: black"
                    >{{ i.name }}</a
                  >
                
                    {% for j in subcategory %} 
                    
                     {% if i.name == j.main_category.name %}
                    <li >
                      <a href="{% url 'sort' j.id 1  %}" style="color: black"
                        >{{j.name}}</a
                      >
                    </li>
                    {% endif %} {% endfor %}
                  </ul>
                </li>
                {% endfor %}
 
              </ul>
            </div>
          </div>

          <!-- ##### Single Widget ##### -->


          <!-- ##### Single Widget ##### -->
          <div class="widget brands mb-50">
            <!-- Widget Title 2 -->
            <p class="widget-title2 mb-30">Brands</p>
            <div class="widget-desc">
              <ul>
                {% for i in brand %}
                <li><a href="{% url 'sort' i.id 2  %}">{{ i.name }}</a></li>
                {% endfor %}
               
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-8 col-lg-9">
        <div class="shop_grid_product_area">
          <div class="row">
            <div class="col-12">
              <div
                class="product-topbar d-flex align-items-center justify-content-between"
              >
          <div class="row">
             {% for variant in product %}
            <!-- Single Product -->
            <div class="col-12 col-sm-6 col-lg-4">
              <div class="single-product-wrapper">
                <!-- Product Image -->
                <div class="product-img">
                  <a href="{% url 'singleproduct' variant.id %}">
                    <img
                      style="min-height: 340px"
                      src="{{variant.productimage_set.first.images.url}}"
                      alt="fguhjgfj" />
                    <!-- Hover Thumb -->
                    <img
                      class="hover-img"
                      src="{{variant.productimage_set.first.hover_images.url}}"
                      alt=""
                  /></a>

                  <!-- Product Badge -->
                  {% if variant.offer != 0 %}
                  <div class="product-badge offer-badge">
                    <span>-{{variant.offer}}%</span>
                  </div>
                  {% endif %}
                  <!-- Favourite -->
                  <div class="product-favourite">
                    {% if variant.id in wishlist_product_ids %}
                    <a
                      href="{% url 'remove_from_wishlist' variant.id 2 %}"
                      class="favme fa fa-heart active"
                    ></a>
                    {% else %}
                    <a
                      href="{% url 'add_to_wishlist' variant.id 2  %}"
                      class="fa fa-heart"
                    ></a>
                    {% endif %}
                  </div>
                </div>

                <!-- Product Description -->
                <div class="product-description">
                  {% comment %} <span>topshop</span> {% endcomment %}
                  {% for i in prod %}
                  <a href="single-product-details.html">
                    <h6>{{i.name}}</h6>
                  </a>
                  {% endfor %}
                  {% if variant.offer %}

                  <p class="product-price">
                    <span class="old-price">{{ variant.price }}</span>
                    {{ variant.offer_price }} {% comment %} {% calc_discount
                    p.price p.offer %} {% endcomment %}
                  </p>
                  {% else %}
                  <p class="product-price">{{ variant.price }}</p>
                  {% endif %}
                  <div class="hover-content">
                    <!-- Add to Cart -->
                    <div class="add-to-cart-btn">
                      <button class="btn essence-btn add-to-cart-popup"></button>
                    </div>
                  </div>

                 <!-- Hover Content -->
<div class="hover-content">
  <!-- Add to Cart -->
  <div class="add-to-cart-btn">
    <button
      class="btn essence-btn add-to-cart-popup"
      data-sizes="{% for size in sizes %} {% if size.varient.id == variant.id %}{{ size.size }}{% endif %} {% endfor %}"
      data-product-id="{{ variant.id }}"
    >
      Add to Cart
    </button>
  </div>
</div>
                </div>
              </div>
            </div>
            {% endfor %} 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<script>
  $(document).ready(function () {
    $('.add-to-cart-popup').click(function () {
      // Fetch the data-sizes and data-product-id attributes
      var sizes = $(this).data('sizes');
      var productId = $(this).data('product-id');

      // Make an AJAX request to the singleproductmodeal view
      $.ajax({
        url: '/singleproductmodeal/' + productId + '/',
        type: 'GET',
        success: function (data) {
          // Display the response data in a drawer
          showDrawer(data.size_data);
        },
        error: function () {
          // Handle the error case
          console.log('Error fetching singleproduct data');
        }
      });
    });

    // Function to create and show the drawer
    function showDrawer(sizes) {
      // Create a drawer element
      var drawer = $('<div class="drawer" id="sizeDrawer"></div>');

      // Add sizes to the drawer content
      var content = $('<div class="drawer-content"></div>');
      content.append('<p class="drawer-title">Available Sizes</p>');

      var list = $('<ul class="drawer-list"></ul>');
      sizes.forEach(function (size) {
        list.append('<button class="drawer-list-item" onclick="addToCart(' + size.varient_id + ', \'' + size.size + '\')">Add to Cart - ' + size.size + '</button>');
      });

      content.append(list);
      drawer.append(content);

      // Append the drawer to the body
      $('body').append(drawer);

      // Show the drawer
      drawer.slideDown();
    }

    // Function to add the selected size to the cart
    function addToCart(productId, size) {
      // Make an AJAX request to the addcart view
      $.ajax({
        url: '/addProduct/' + productId + '/',
        type: 'GET',
        data: {
          size: size,
          quantity: 1  // You may adjust the quantity as needed
        },
        success: function () {
          console.log('Product added to cart');
        },
        error: function () {
          console.log('Error adding product to cart');
        }
      });
    }
  });
</script>

{% endblock %}
