{% extends 'user/base.html' %}
{% load my_tags %}
{{% block title %}
{{product.name}}
{% endblock %}}


{% block condent %}

    <!-- ##### Single Product Details Area Start ##### -->
    <section class="single_product_details_area d-flex align-items-center">

        <!-- Single Product Thumb -->
        <div class="single_product_thumb clearfix">
            
            <div class="product_thumbnail_slides owl-carousel">
                 {% for i in images %}
                <div class="container-fluid ">
                    <img style="    " src="{{ i.images.url }}" alt="">
                </div>
                
                {% endfor %} 
                
            </div>
        </div>

        <!-- Single Product Description -->
        <div class="single_product_desc clearfix">
            <span>{{product.brand}}</span>
            <a href="cart.html">
                <h2>{{product.name}}</h2>
            </a>
            {% if prod.offer == 0 %}
            <p class="product-price"> ₹ {{prod.price}}</p>
            {% else %}
            <p class="product-price"><span class="old-price">₹ {{prod.price}}</span> ₹ {{offer}}</p>
            {% endif %}
            <p class="product-desc">{{product.description}}</p>

            <!-- Form -->
            <form class="cart-form clearfix" action="{% url 'addcart' prod.id %}" method="GET">
                <!-- Select Box -->
                <div class="select-box d-flex mt-50 mb-30">
                    <select name="size" id="productSize" class="mr-5 my-1">
                    {% for s in size %}

                        <option value="{{s.size}}">Size:{{s.size}}</option>
                    {% endfor %}

                    </select>
                    <div class="" >
                        {% for c in color %}
                        {% if prod.id != c.id  %}
                        <label>
                            <a href="{% url 'singleproduct'  c.id %}" class="btn"><img style="width : 40px" src="{{c.productimage_set.first.images.url}}" ></a>
                        </label>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!-- Cart & Favourite Box -->
                <div class="cart-fav-box d-flex align-items-center">
                    <!-- Cart -->
                    <button type="submit" name="addtocart" value="5" class="btn essence-btn">Add to cart</button>
                    <!-- Favourite -->
                    <div class="product-favourite ml-4">
                        {% if whish == True %}
                        <a href="{% url 'remove_from_wishlist' prod.id 1 %}" class="favme fa fa-heart "></a>
                        {% else %}
                        <a href="{% url 'add_to_wishlist' prod.id 1 %}" class="favme fa fa-heart"></a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </section>

    {% comment %} {% for i in images %}
    <div class="container-fluid ">
        <img style="max-width: 790px;min-width: 775px;  min-height:900px; max-height:900px;" src="{{i.hover_images.url}}" alt="">
    </div>
    {% endfor %} {% endcomment %}
    <!-- ##### Single Product Details Area End ##### -->
{% endblock %}