{% extends 'user/base.html' %}
{% load my_tags %}
{% block link %}<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock  %}
{% block condent %}
{% comment %} <div class="container">

    <h1 class=" col-sm-2 my-5 mx-auto text-capitalize">CART</h1>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quatity</th>
                <th>Total</th>
                <th>Edits</th>
            </tr>
        </thead>
        <tbody>
          {% if user.is_authenticated %}
            {% for item in cart_items %}
            <tr>
                <td>
                    <div class="media">
                        <div class="d-flex">
                          <a href=""><img src="{{ item.product.productimage_set.first.images.url }}" alt="" style="height: 70px;"></a>
                        </div>
                    </td>
                        <td>
                        <div class="media-body">
                          <p>{{ item.product.name }}</p>
                        </div>
                      </div>
                </td>
                <td>{{ item.product.price }}</td>
                {% if item.product.stock == 0 %}
                <td><div class="product_count">
                  <a class="text-danger"> Currently, Out of Stock </a>
                    </div>
                    <td>
                      <h5><del>{{ item.price }}</del></h5>
                    </td>
                </td>
                {% else %}
                <td>    
                    <div class="product_count d-flex justify-content-center mt-2">
                      <a href="{% url 'additem' item.product.id %}" class="btn btn-outline-secondary btn-sm mr-2"><span class="material-symbols-outlined">
                        add
                        </span></a>
                      <input class="input-number w-25" name="quantity" type="text" value="{{item.quantity}}" min="0" max="100">
                      <a href="{% url 'removeitem' item.product.id %}" class="btn btn-outline-secondary btn-sm ml-2" > <span class="material-symbols-outlined">
                        remove
                        </span></a>
                    </div>
                    
                  </td>
                  <td>
                    <h5>₹{{ item.price }}</h5>
                  </td>
                  {% endif %}
                  <td>
                    <a href="{% url 'removecartproduct' item.product.id  %}" class="text-danger"  onclick="return confirm('Are You Sure ?')"><span class="material-symbols-outlined">
                        delete
                        </span></a>
                  </td>    
            </tr>

            {% endfor %}
            {% else %}
            {% for product_id, quantity in cart.items %}
            <tr>
                <td>
                    <div class="media">
                        <div class="d-flex">
                          <a href=""><img src="{{ Product.objects.get(id=product_id).name }}" alt="" style="height: 70px;"></a>
                        </div>
                    </td>
                        <td>
                        <div class="media-body">
                          <p>{{ item.product.name }}</p>
                        </div>
                      </div>
                </td>
                <td>{{ item.product.price }}</td>
                {% if item.product.stock == 0 %}
                <td><div class="product_count">
                  <a class="text-danger"> Currently, Out of Stock </a>
                    </div>
                    <td>
                      <h5><del>{{ item.price }}</del></h5>
                    </td>
                </td>
                {% else %}
                <td>    
                    <div class="product_count d-flex justify-content-center mt-2">
                      <a href="{% url 'additem' item.product.id %}" class="btn btn-outline-secondary btn-sm mr-2"><span class="material-symbols-outlined">
                        add
                        </span></a>
                      <input class="input-number w-25" name="quantity" type="text" value="{{item.quantity}}" min="0" max="100">
                      <form action="{% url 'remove_from_cart' product_id %}" method="post">
                      <button type="submit" class="btn btn-danger">Remove</button>
                      </form>
                    </div>
                    
                  </td>
                  <td>
                    <h5>₹{{ item.price }}</h5>
                  </td>
                  {% endif %}
                  <td>
                    <a href="{% url 'removecartproduct' item.product.id  %}" class="text-danger"  onclick="return confirm('Are You Sure ?')"><span class="material-symbols-outlined">
                        delete
                        </span></a>
                  </td>    
            </tr>

            {% endfor %}
            {% endif %}
        </tbody>
    
      </table>
    <div class="col-sm-3 m-auto"><h4>sub total {{total}}</h4> </div>
</div> {% endcomment %}


 <div class="container">

  <h2>My Cart</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>size</th>
        <th>Price</th>
        <th>Discount price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart_items %}
        <tr>
          <td><img src="{{item.product.productimage_set.first.images.url }}" alt="" style="width: 40px;"></td>
          <td>{{ item.product.name }}</td>
          <td>{% if user.is_authenticated %}{{item.size}}{% else %}{{item.size}}{% endif %}</td>
          <td>{{ item.product.price }}</td>
          <td>
            {% calc_discount item.product.price item.product.offer  %}
          </td>
          <td class="d-flex">
            {% if user.is_authenticated %}
            {% if item.product. %}{% endif %}
              <a class="btn btn-white" id="f" href="{% url 'removecartitem' item.product.id item.size %}"><i class="fa fa-chevron-left text-dark"></i></a><input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="{{ item.product.stock }}" data-item-id="{{ item.id }}" class="form-control "><a class="btn btn-white" id="f" href="{% url 'additem' item.product.id item.size %}"><i class="fa fa-chevron-right text-dark"></i></a>
            {% else %}
              <p>{{item.quantity}}</p>
            {% endif %}
          </td>
          <td>{% if user.is_authenticated %}
            {{ item.sub_total }}
            {% else %}
            {% calc_subtotal  item.product.price  item.product.offer  item.quantity%} 
            {% endif %}</td>
          <td>
             {% if user. %}
              <a href="{% url 'removeitem' item.id item.size %}" class="btn btn-danger btn-sm">Remove</a>
              {% else %} 
            <form method="POST" action="{% url 'removecart' item.product.id item.size  %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Remove</button>
            </form>
              {% endif %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">Your cart is empty.</td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">Total:</td>
        <td>{{ total }}</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
  {% if cart_items %}
  <div class="col-sm-4 my-5 mx-auto">
  <a class="btn btn-primary " id="f" href="{% url 'checkout' %}">check out</a>
</div>
  {% endif %}
</div> 
{% comment %} <div class="container pb-5 mb-2">
    <!-- Alert-->
    <div class="alert alert-info alert-dismissible fade show text-center mb-30"><span class="alert-close" data-dismiss="alert"></span><i class="fe-icon-award"></i>&nbsp;&nbsp;With this purchase you will earn <strong>2,549</strong> Reward Points.</div>
    <!-- Cart Item-->
    {% for item in cart_items %}

    <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><i class="fa fa-times"></i></span>
        <div class="px-3 my-3">
            <a class="cart-item-product" href="#">
                <div class="cart-item-product-thumb"><img style="min-width:150px;max-width:150px; min-height: 150px; max-height:1   50px ;" src="{{item.product.productimage_set.first.images.url }}" alt="Product"></div>
                <div class="cart-item-product-info">
                    <h4 class="cart-item-product-title">Canon EOS M50 Mirrorless Camera</h4><span><strong>Type:</strong> Mirrorless</span><span><strong>Color:</strong> Black</span>
                </div>
            </a>
        </div>
        <div class="px-3 my-3 text-center">
            <div class="cart-item-label">Quantity</div>
            <div class="count-input">
                2
            </div>
        </div>
        <div class="px-3 my-3 text-center">
            <div class="cart-item-label">Subtotal</div><span class="text-xl font-weight-medium">$910.00</span>
        </div>
        <div class="px-3 my-3 text-center">
            <div class="cart-item-label">Discount</div><span class="text-xl font-weight-medium">$35.00</span>
        </div>
    </div>
    {% endfor %}
    
    <!-- Coupon + Subtotal-->
    <div class="d-sm-flex d-flex justify-content-end align-items-center text-center text-sm-left">
       
        <div class="py-2"><span class="d-inline-block align-middle text-sm text-muted font-weight-medium text-uppercase mr-2">Subtotal:</span><span class="d-inline-block align-middle text-xl font-weight-medium">$188.50</span></div>
    </div>
    <!-- Buttons-->
    <hr class="my-2">
    <div class="row pt-3 pb-5 mb-2 d-flex justify-content-around">
        <div class="col-sm-4 mb-3"><a class="btn btn-style-1 btn-secondary btn-block" href="#"><i class="fe-icon-refresh-ccw"></i>&nbsp;Update Cart</a></div>
        <div class="col-sm-4 mb-3"><a class="btn btn-style-1 btn-primary btn-block" href="checkout-address.html"><i class="fe-icon-credit-card"></i>&nbsp;Checkout</a></div>
    </div>

       
    </div> {% endcomment %}

{% endblock %}
