{% extends 'user/base.html' %}
{% load my_tags %}
{% load static %}
{% block link %}<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
<link href="{% static 'css/cart/cart.css' %}" rel="stylesheet">
{% endblock  %}
{% block condent %}
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="shopping__cart__table">
                  <table>
                      <thead>
                          <tr>
                              <th>Product</th>
                              <th>Quantity</th>
                              <th>Total</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for item in cart_items %}
                          <tr>
                              <td class="product__cart__item">
                                <div class="product_cartitem_pic"  >
                                  <img class="responsive-img" src="{{ item.product.productimage_set.first.images.url }}" alt="">
                                </div>
                                <div class="product_cartitem_text">
                                  <h6>{{ item.product.Product.name }}</h6>
                                  <h6>INR {{ item.product.price }}</h6>
                                  <span>Color:</span><span class="rounded-pill"> {{ item.product.color }}</span><br>
                                  <span>Size:</span><span> {{ item.size }}</span>
                                </div>
                              </td>
                              <td class="quantity__item">
                                  <div class="quantity">
                                      <div class="pro-qty-2 d-flex">
                                        <a class="btn btn-white" id="f" href="{% url 'removecartitem' item.product.id item.size %}"><i class="fa fa-chevron-left text-dark"></i></a>
                                          <input type="disabled" value="{{item.quantity}}" disabled>
                                          <a class="btn btn-white" id="f" href="{% url 'additem' item.product.id item.size %}"><i class="fa fa-chevron-right text-dark"></i></a>
                                      </div>
                                  </div>
                              </td>
                              <td class="cart__price">{% if user.is_authenticated %}₹{{item.sub_total}}{% else %}
                                ₹{% calc_subtotal  item.product.price  item.product.offer  item.quantity%}
                                {% endif %}
                              </td>

                                {% csrf_token %}
                            </form>

                                
                                <td class="cart__close"><form method="POST" action="{% url 'removecart' item.product.id item.size  %}">
                                  <button type="submit" class="rounded-circle"><i class="fa fa-close"></i></button>
                                </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="continue__btn">
                          <a href="{% url 'shop' %}">Continue Shopping</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="cart__discount">
              </div>
              <div class="cart__total">
                  <h6>Cart total</h6>
                  <ul>
                      {% comment %} <li>Subtotal <span>$ 169.50</span></li> {% endcomment %}
                      <li>Discount <span class="text-success">₹{{discount}}</span></li>
                      <li>Total <span>₹ {{total}}</span></li>
                  </ul>
                  <a href="{% url 'checkout' %}" class="primary-btn">Proceed to checkout</a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Shopping Cart Section End -->

{% endblock %}
{% comment %} <div class="container">

  <h2>My Cart</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>size</th>
        <th>Price</th>
        <th>Discount price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart_items %}
        <tr>
          <td><img src="{{item.product.productimage_set.first.images.url }}" alt="" style="width: 40px;"></td>
          <td>{{ item.product.name }}</td>
          <td>{% if user.is_authenticated %}{{item.size}}{% else %}{{item.size}}{% endif %}</td>
          <td>{{ item.product.price }}</td>
          <td>
            {% calc_discount item.product.price item.product.offer  %}
          </td>
          <td class="d-flex">
            {% if user.is_authenticated %}
            {% if item.product. %}{% endif %}
              <a class="btn btn-white" id="f" href="{% url 'removecartitem' item.product.id item.size %}"><i class="fa fa-chevron-left text-dark"></i></a><input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="{{ item.product.stock }}" data-item-id="{{ item.id }}" class="form-control "><a class="btn btn-white" id="f" href="{% url 'additem' item.product.id item.size %}"><i class="fa fa-chevron-right text-dark"></i></a>
            {% else %}
              <p>{{item.quantity}}</p>
            {% endif %}
          </td>
          <td>{% if user.is_authenticated %}
            {{ item.sub_total }}
            {% else %}
            {% calc_subtotal  item.product.price  item.product.offer  item.quantity%} 
            {% endif %}</td>
          <td>
             {% if user. %}
              <a href="{% url 'removeitem' item.id item.size %}" class="btn btn-danger btn-sm">Remove</a>
              {% else %} 
            <form method="POST" action="{% url 'removecart' item.product.id item.size  %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Remove</button>
            </form>
              {% endif %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">Your cart is empty.</td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">Total:</td>
        <td>{{ total }}</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
  {% if cart_items %}
  <div class="col-sm-4 my-5 mx-auto">
  <a class="btn btn-primary " id="f" href="{% url 'checkout' %}">check out</a>
</div>
  {% endif %}
</div> {% endcomment %}