{% extends 'user/base.html' %}
{% block title %}Check Out{% endblock title %}
{% block condent %}
 <!-- ##### Breadcumb Area Start ##### -->
 <div class="breadcumb_area bg-img" style="background-image: url(https://imgs.search.brave.com/m6EtU0zk6hl5L7LIcuz23zoHi4q7D-Rodnx0ZkfKJME/rs:fit:1200:1080:1/g:ce/aHR0cHM6Ly9pbWFn/ZXM1LmFscGhhY29k/ZXJzLmNvbS8xMDEv/dGh1bWItMTkyMC0x/MDE3NjIzLmpwZw);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Checkout</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Checkout Area Start ##### -->

<div class="checkout_area section-padding-80 ">
    <div class="container my-5">
        <div class="row"> 
            <div class="billing_details justify-content-center col-sm-12">
                <div class="row ">
                  
                  <div class="col-sm-6 ">
                    
                    <form class="row contact_form" action="{% url 'confirmation' %}" method = "POST" >
                      {% csrf_token %}
                   
                    <h4 class="font-weight-bold mt-0 mb-4 ml-2">Select your Delivery Address</h4>
                    
                       {% for a in address %}
                                  <div class="container">
                                      <div class="card shadow my-2 col-6 d-flex">
                                          <div class="card-body"> 
                                            {% if a.is_default %}
                                              <input type="radio"  name="selected_addresses" value="{{ a.id}}" checked >
                                              {% else %} 
                                              <input type="radio"  name="selected_addresses" value="{{ a.id}}" >
                                              {% endif %}
                                              <div class="container">
                                                  <p>{{ a.firstname}}</p>
                                                  <p>{{ a.address_line_1 }}</p>
                                                  <p>{{ a.address_line_2 }}</p>
                                                  <p>{{ a.city }} , {{ address.state }}</p>  
                                                  <p>{{ a.phone }}</p>
                                                  <p>{{ a.pincode }}</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                        {% endfor %}         
        </div>
            <div class="col-sm-6 mt-5">
                <div class="order-details-confirmation">

                    <div class="cart-page-heading">
                        <h5>Your Order</h5>
                        <p>The Details</p>
                    </div>
                    
                    <ul class="order-details-form mb-4">
                        <li><span>Product</span> <span>Total</span></li>
                        {% for item in cart_items %}
                        <li class="text-secondary"><span >{{ item.product.name }}</span><span>x{{item.quantity}}</span><span>{{item.price}}</span></li>
                        {% endfor %}
                        <li><span>Discount</span> <span class="text-success">{{discount_display}}</span></li>
                        <li><span>Subtotal </span> <span>{{total}}</span></li>
                        <li><span>Shipping</span> <span>{% if total < 20000 %}500 {% else %}Free{% endif %} </span></li>
                        {% if extra_discount %}
                        <li><span class="font-weight-bold">Coupon Applied</span> <span>"{{coupon.code}}"</span></li>
                        <li><span>Coupon Discount</span> <span>{{coupon_discount}}</span></li>
                        <li><span>Total</span> <span>{{amountToBePaid}}</span></li>
                         {% else %}
                         {% comment %}
                        <input type="hidden" class="form-control" id='grand' value="{{grandtotal}}" name="grand_total" required/>
                        <input class="form-control border-0" type="text" id='coupon' name="couponCode" placeholder="Enter coupon code" />
                        <button class="form-control " onclick='coupon()' >Apply Coupon</button> {% endcomment %}
                        {% comment %} </form> {% endcomment %}
                        <li><span>Total</span> <span>{{grandtotal}}</span></li>
                        {% endif %}
                        <div id="accordion" role="tablist" class="my-4">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h6 class="mb-0">
                                        {% comment %} <a  href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><i class="fa fa-circle-o mr-3"></i>Razorpay</a>{% endcomment %}
                                        <input type="radio" name="mode" value="Razorpay" /checked><label for=""> &nbsp Razorpay</label>
                                    </h6>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <h6 class="mb-0">
                                        {% comment %} <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="fa fa-circle-o mr-3"></i>cash on delievery</a> {% endcomment %}
                                        <input type="radio" name="mode"  value="cod" /><label for=""> &nbsp Cash On Delivery</label>
                                    </h6>
                                </div>
                                
                            </div>
                            
                            
                        </div>
              <input type="hidden" class="form-control" value="{{total}}" name="total" required/>
              <input type="hidden" class="form-control" value="{{grandtotal}}" name="grand_total" required/>
              <input type="hidden" class="form-control" value="{{amountToBePaid}}" name="amountToBePaid" required/>
              <input type="hidden" class="form-control"  value="{{coupon.code}}" name="couponCode" required/>
              <input type="hidden" class="form-control"  value="{{discount_display}}" name="discount_Display" required/>
              <input type="hidden" class="form-control" value="{{coupon_discount}}" name="couponDiscount"required/>
              <input type="hidden" class="form-control" value="{{coupon_discount}}" name="couponDiscount"required/>
                    </ul>
                    <button type="submit" class="btn essence-btn">Place Order</button>
                </form>
                </div>
                <form action="" id="coupon-form" method="POST" required>
                    {% csrf_token %}
                    <div class="my-3">
                      <input type="hidden" class="form-control"value="{{grandtotal}}" name="grand_total" required/>
                      <div class="input-group  mb-3">
                        <input type="text" class="form-control rounded-pill border border-primary  " placeholder="Have a coupon?" name="couponCode" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn  border border-primary  border-left-0 form-control " type="button">Check</button>
                        </div>
                      </div>
                    </div>
                  </form> 
            </div>
        </div>
    </div>
</div>
</div>
<!-- ##### Checkout Area End ##### -->

<div class="container my-5 bg-secondary" >
    <div class="col-lg-12">
        
    
</div>

  </div>
 
{% comment %} <!--##### add address -->
<div class="container my-5">
<div class="col-sm-12">
    <div class="checkout_details_area mt-50 clearfix">

        <div class="cart-page-heading mb-30">
            <h5>Billing Address</h5>
        </div>

        <form action="#" method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="first_name">First Name <span>*</span></label>
                    <input type="text" class="form-control" id="first_name" value="" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="last_name">Last Name <span>*</span></label>
                    <input type="text" class="form-control" id="last_name" value="" required>
                </div>
                <div class="col-12 mb-3">
                    <label for="company">Company Name</label>
                    <input type="text" class="form-control" id="company" value="">
                </div>
                <div class="col-12 mb-3">
                    <label for="country">Country <span>*</span></label>
                    <select class="w-100" id="country">
                        <option value="usa">United States</option>
                        <option value="uk">United Kingdom</option>
                        <option value="ger">Germany</option>
                        <option value="fra">France</option>
                        <option value="ind">India</option>
                        <option value="aus">Australia</option>
                        <option value="bra">Brazil</option>
                        <option value="cana">Canada</option>
                    </select>
                </div>
                <div class="col-12 mb-3">
                    <label for="street_address">Address <span>*</span></label>
                    <input type="text" class="form-control mb-3" id="street_address" value="">
                    <input type="text" class="form-control" id="street_address2" value="">
                </div>
                <div class="col-12 mb-3">
                    <label for="postcode">Postcode <span>*</span></label>
                    <input type="text" class="form-control" id="postcode" value="">
                </div>
                <div class="col-12 mb-3">
                    <label for="city">Town/City <span>*</span></label>
                    <input type="text" class="form-control" id="city" value="">
                </div>
                <div class="col-12 mb-3">
                    <label for="state">Province <span>*</span></label>
                    <input type="text" class="form-control" id="state" value="">
                </div>
                <div class="col-12 mb-3">
                    <label for="phone_number">Phone No <span>*</span></label>
                    <input type="number" class="form-control" id="phone_number" min="0" value="">
                </div>
                <div class="col-12 mb-4">
                    <label for="email_address">Email Address <span>*</span></label>
                    <input type="email" class="form-control" id="email_address" value="">
                </div>

                <div class="col-12">
                    <div class="custom-control custom-checkbox d-block mb-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Terms and conitions</label>
                    </div>
                    <div class="custom-control custom-checkbox d-block mb-2">
                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                        <label class="custom-control-label" for="customCheck2">Create an accout</label>
                    </div>
                    <div class="custom-control custom-checkbox d-block">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3">Subscribe to our newsletter</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div> {% endcomment %}
<!--##### add address -->
<div class="container my-5 p-5 border border-danger" style="  background: #0315ff;">
    <div class="col-sm-12 cards  text-white">
    <form action="{% url 'add_address' 1 %}" method="POST">
        {% csrf_token %}    
        <div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="account-fn">First Name</label>
            <input type="text" class="form-control" id="first"  name="firstname" placeholder="First Name"required />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="account-ln">Last Name</label>
            <input type="text" class="form-control" id="last"  name="lastname" placeholder="Last Name" required/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="account-email">Phone number</label>
            <input type="text" class="form-control" id="phone"  name="phone"  placeholder="Phone Number"required  pattern="[0-9]+" title="Please enter only digits" maxlength="10"/>
        </div>
    </div> 
    <div class="col-md-6">
        <div class="form-group">
            <label for="account-fn">Email</label>
            <input type="email" class="form-control" id="email"  name="email"placeholder="Email" required/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="account-email">Address</label>
            <input type="text" class="form-control" id="add1"  name="address_line_1" placeholder="Address"required/>
        </div>
    </div>   
    <div class="col-md-6">
        <div class="form-group">
            <label for="account-email">landmark</label>
            <input type="text" class="form-control" id="add1"  name="address_line_2" placeholder="Landmark"required/>
        </div>
    </div>  
    <div class="col-md-6">
        <div class="form-group text-dark">
            <label>City</label><br>
                            <select class="form-select" id="id_city" name="city" required><br>
                                <option value="">Select city</option>
                                {% for city in city %}
                                    
                                        <option value="{{ city }}">{{ city }}</option>
                                    
                                {% endfor %}
                            </select><br>
        </div>
    </div>  
    <div class="col-md-6">
        <div class="form-group text-dark">
            <label>State</label><br>
                            <select class="form-select" id="id_state" name="state" required><br>
                                <option value="">Select State</option>
                                {% for state in state %}
        
                                        <option value="{{ state }}">{{ state }}</option>
    
                                {% endfor %}
                            </select><br>
        </div>
    </div>  
    <div class="col-md-6">
        <div class="form-group">
            <label for="account-email">Pincode</label>
            <input type="text" class="form-control" id="pincode" name="pincode"  placeholder="Pincode" required pattern="[0-9]+" title="Please enter only digits" maxlength="6"/>
        </div>
    </div> 
    <div class="col-sm-6">
        <div class="form-group mt-4">
      
                <input type="checkbox" name="default" > Set as default address
        </div>
    </div>    
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="custom-control custom-checkbox d-block">
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-style-1 btn-danger" type="submit" data-toast="" data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="Success!" data-toast-message="Your profile updated successfuly.">Add Adress</button>
        </div> 
        <hr class="mt-2 mb-3">

    </div>  
    
    </form>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function coupon(){

        console.log("heloo im iher oin onclick")
        var couponCode = $(this).data('coupon')
        var grand = $(this).data('grand')

        $.ajax({
            type:"POST",
            url :"/product/checkout/",
            data : {'couponCode':couponCode,'grand':grand,'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()},
            success:function(response){
                console.log(response.data)
            }
        });
    }
        
        
        
       
</script>

{% endblock condent %}