{% extends 'user/base.html' %}
{% load static %}
{% block link %}

<link rel="stylesheet" href="{% static 'css/invoice/invoice.css' %}">

{% endblock %}
{% block condent %}
&nbsp
<div class="container bootdey my-5">
    <div class="row invoice row-printable">
        <div class="col-md-10">
            <!-- col-lg-12 start here -->
            <div class="panel panel-default plain" id="dash_0">
                <!-- Start .panel -->
                <div class="panel-body p30">
                    <div class="row">
                        <!-- Start .row -->
                        <div class="col-lg-6">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-logo">{% if user.profile.image %}
                        <img  src="{{ user.profile.image.url }}"alt="{{ user.username }}  profile picture"width="100" >
                        {% else %}
                        <img src="http://tcap.pbworks.com/f/1435170280/myAvatar.png" alt="{{ user.username }} profile picture" width="100" >
                        {% endif %}</div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-6">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-from">
                                <ul class="list-unstyled text-right">
                                    <li>kaira LLC</li>
                                    <li>2500 Ridgepoint Dr, Suite 105-C</li>
                                    <li>Austin TX 78754</li>
                                    <li>VAT Number EU826113958</li>
                                </ul>
                            </div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-12">
                            <!-- col-lg-12 start here -->
                            <div class="invoice-details mt25 ">
                                <div class="well ">
                                    <ul class="list-unstyled mb0 bg-secondery">
                                        <h5>Invoice</h5>
                                        <li><strong>Invoice Date:</strong>{{ conform_order.created_at }}</li>
                                        <li><strong>Status:</strong> <span class="label label-danger">  {% if payment.paid == True %}PAID{% else %}UNPAID{% endif %}</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="invoice-to mt25">
                                <ul class="list-unstyled">
                                    <li><strong>Invoiced To</strong></li>
                                    {% comment %} <li>{{conform_order.order_number}}</li> {% endcomment %}
                                    <li>{{conform_order.address.firstname}}</li>
                                    <li>{{conform_order.address.address_line_1}}</li>
                                    <li>{{conform_order.address.city}},{{conform_order.address.pincode}}</li>
                                    <li>{{conform_order.address.state}}</li>
                                </ul>
                            </div>
                            <div class="invoice-items">
                                <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="per70 text-center">Description</th>
                                                <th class="per5 text-center">Qty</th>
                                                <th class="per25 text-center">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for j in orderitem %}
                                            <tr>
                                                <td>{{j.product.name}}</td>
                                                <td class="text-center">{{ j.quantity }}</td>
                                                <td class="text-center">{{j.product_price}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2" class="text-right">Sub Total:</th>
                                                <th class="text-center">{{total}}</th>
                                            </tr>
                                            <tr>
                                                <th colspan="2" class="text-right">Order Discount:</th>
                                                <th class="text-center text-success">{{conform_order.order_discount}}</th>
                                            </tr>
                                            {% comment %} <tr>
                                                <th colspan="2" class="text-right">Credit:</th>
                                                <th class="text-center">$00.00 USD</th>
                                            </tr> {% endcomment %}
                                            <tr>
                                                <th colspan="2" class="text-right">Amount paid:</th>
                                                <th class="text-center">{{conform_order.paid_amount}}</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="invoice-footer mt25">
                                <p class="text-center">Generated on Monday, October 08th, 2015 <a href="#" class="btn btn-default ml15"><i class="fa fa-print mr5"></i> Print</a></p>
                            </div>
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                    <!-- End .row -->
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
    </div>
    </div>
{% endblock %}